{% include "cafe/header.html" %}


<div class="container my-5 py-5">
    <div class="container text-center">
        <div class="row">
            {% for cafe in all_cafes %}
            <div class="col-6 col-sm-4 my-4">
                <div class="card" style="width: 18rem;">
                    <img src="{{cafe.image_url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{cafe.name}}</h5>
                        <p class="card-text">{{cafe.description}}</p>
                        <a href="#" class="btn btn-primary">{{cafe.price}}</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>


{% include "cafe/footer.html" %}